In [19]:
# Chargement de la libriarie pandas
import pandas as pd

# Importation du module os qui fournit des fonctions pour interagir avec le système d'exploitation.
import os

# Définition de la variable path qui défini le dossier de stockage en local des données c'est la seule variable à modifier
# On utilise le préfixe r pour indiquer une chaîne brute
path = r"D:\Users\P-DUMANOIR\OneDrive - MSF\0. PERSO\CO2 Emission\Sources\ETIC"

#Reportoire des paths des membres du groupe pour référence facilitée
#Sabrine path = r"C:\Users\Sabrine\Desktop\PROJET_CO2\Donnees_CO2\etiq\Donnees_Drive"
#Pauline path = r"D:\Users\P-DUMANOIR\OneDrive - MSF\0. PERSO\CO2 Emission\Sources\ETIC"
#Phanara path =
#Anto path =

In [20]:
# Création d'une liste ne contenant que les fichiers Excel dans le dossiers contenant les données qui est le path
fichiers_excel = [fichier for fichier in os.listdir(path) if fichier.endswith(('.xls','.xlsx', '.xlsm'))]
print(fichiers_excel)

['ETIQ2002.xls', 'ETIQ2003.xls', 'ETIQ2004.xlsm', 'ETIQ2005.xls', 'ETIQ2006.xls', 'ETIQ2007.xls', 'ETIQ2008.xls', 'ETIQ2009.xls', 'ETIQ2010.xls', 'ETIQ2011.xls']

In [21]:
# Application d'une boucle pour parcourir chaque fichier excel dans le dossier Donnees
for fichier_excel in fichiers_excel:
    chemin_fichier = os.path.join(path, fichier_excel)
    
    # Chargement du fichier Excel
    fichier = pd.ExcelFile(chemin_fichier)
    
    # Détermination du nombre de feuilles dans le fichier
    nbr_feuilles = len(fichier.sheet_names)
    
    # Affichage du nom du fichier et le nombre de feuilles
    print(f"Fichier : {fichier_excel}, Nombre de feuilles : {nbr_feuilles}")

Fichier : ETIQ2002.xls, Nombre de feuilles : 1
Fichier : ETIQ2003.xls, Nombre de feuilles : 1
Fichier : ETIQ2004.xlsm, Nombre de feuilles : 5
Fichier : ETIQ2005.xls, Nombre de feuilles : 6
Fichier : ETIQ2006.xls, Nombre de feuilles : 1
Fichier : ETIQ2007.xls, Nombre de feuilles : 1
Fichier : ETIQ2008.xls, Nombre de feuilles : 1
Fichier : ETIQ2009.xls, Nombre de feuilles : 1
Fichier : ETIQ2010.xls, Nombre de feuilles : 1
Fichier : ETIQ2011.xls, Nombre de feuilles : 1

In [22]:
# Lecture des 4 feuilles du fichier ETIQ2001
df_sheets_2001= pd.read_excel(path +'\\ETIQ2001.xls', sheet_name=None)
for nom_feuille, df in df_sheets_2001.items():
    print(f"Feuille : {nom_feuille}")
    display(df.head(1))
    print(df.shape)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Users\\P-DUMANOIR\\OneDrive - MSF\\0. PERSO\\CO2 Emission\\Sources\\ETIC\\ETIQ2001.xls'

In [23]:
# les 4 feuilles du fichiers ETIQ2001 ont les memes noms de variables 
# On va donc creer un nouveau DataFrame df_ETIQ_2001 regroupant les données des 4 feuilles
df_ETIQ_2001 = pd.concat(df_sheets_2001.values(), ignore_index=True)
display(df_ETIQ_2001.head())
df_ETIQ_2001.shape

,MARQUES,MODELE,TYP. MINES,CNIT,CARB,CV,PUISS.,BV,Urbain,Ex.Urb,Mixte,CO2
0,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R4385,6ESCANYX01AGFD5850021N0H,GO,3,45.0,A 5,3.6,2.7,3.0,81.0
1,VOLKSWAGEN,LUPO 3L TDI,MVW70C1RX572,6ESCAYZX01AGFD5850021N0H,GO,3,45.0,A 5,3.6,2.7,3.0,81.0
2,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R5386,6ESCANYX01AGFD5850021N0I,GO,3,45.0,A 5,3.8,2.8,3.2,86.0
3,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R6387,6ESCANYX01AGFD5850021N1H,GO,3,45.0,A 5,4.0,2.7,3.2,86.0
4,VOLKSWAGEN,LUPO 3L TDI,MVW70C1RY573,6ESCAYZX01AGFD5850021N0I,GO,3,45.0,A 5,3.8,2.8,3.2,86.0

(6308, 12)

In [24]:
# Enregistrement du df en fichier csv 
ETIQ_2001_Complet= df_ETIQ_2001.to_csv(path+'\\ETIQ2001'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression des fichier excels sources
if os.path.exists(path+'\\ETIQ2001'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2001'+'.xls'))

In [25]:
# on refait la même procédure pour le fichier ETIQ2004
# Lecture des 5 feuilles du fichier ETIQ2004
df_sheets_2004= pd.read_excel(path +'\\ETIQ2004.xlsm', sheet_name=None)
for nom_feuille, df in df_sheets_2004.items():
    print(f"Feuille : {nom_feuille}")
    display(df.columns)

Feuille : PALMARES DIESEL

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2', 'Unnamed: 11'],
      dtype='object')

Feuille : PALMARES ESSENCE

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2', 'Unnamed: 11'],
      dtype='object')

Feuille : MODELES GNV

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2', 'Unnamed: 11'],
      dtype='object')

Feuille : MODELE GPL

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2', 'Unnamed: 11'],
      dtype='object')

Feuille : fic_etiq_edition_03

Index(['Marques', 'Modèles, Versions', 'CNIT', 'Unnamed: 3', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [ ]:
with open("commentaires.txt", "a") as f:
    f.write("les 4 premieres feuilles de ce fichier contiennent une colonne sans titre qui ne contient qu'une valeur unique(Decembre 2003)\
        on va donc les supprimer et ne garder que les colonnes standards existant dans les autres fichiers ETIQ.\
        Concernant la derniere feuilles: on va supprimer la variable CNIT et la remplacer par la colonne 3 qui semble plus complete,\
        et supprimer les colonnes 12-13-14-15\n")

In [26]:
# Renommer la colonne 'Unamed :3' et supprimer la colonne CNIT
df_feuille_4 = df_sheets_2004['fic_etiq_edition_03']
df_feuille_4= df_feuille_4.drop(columns='CNIT')
df_feuille_4= df_feuille_4.rename(columns={'Unnamed: 3': 'CNIT'})
df_sheets_2004['fic_etiq_edition_03'] = df_feuille_4

df_sheets_2004['fic_etiq_edition_03'].head()
df_feuille_4.head()

,Marques,"Modèles, Versions",CNIT,CARBURANT,Puiss Administrative,Puissance max,BV,Conso urb,Conso ex-urb,Conso mixte,CO2,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JE355,ES,7,77.0,M 5,11.1,6.3,8.1,192,Décembre 2003,NaN,147 3P 1.6TS (105ch)777.0M 511.16.38.1192,MAL1301JE355
1,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JQ357,ES,8,88.0,M 5,11.2,6.4,8.2,194,Décembre 2003,NaN,147 3P 1.6TS (120ch)888.0M 511.26.48.2194,MAL1401JQ357
2,ALFA-ROMEO,147 3P 2.0L SELESPEED,MAL1601JC359,ES,10,110.0,M 5,12.1,7.0,8.9,211,Décembre 2003,NaN,147 3P 2.0L SELESPEED10110.0M 512.17.08.9211,MAL1601JC359
3,ALFA-ROMEO,147 3P 2.0TS,MAL1601JE361,ES,10,110.0,M 5,12.1,7.0,8.9,211,Décembre 2003,NaN,147 3P 2.0TS10110.0M 512.17.08.9211,MAL1601JE361
4,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JP364,ES,7,77.0,M 5,11.1,6.3,8.1,192,Décembre 2003,NaN,147 5P 1.6TS (105ch)777.0M 511.16.38.1192,MAL1302JP364

In [27]:
# Application d'une boucle pour supprimer les colonnes sans titre dans les feuilles du fichier ETIQ2004
for feuille,df in df_sheets_2004.items():
     # Supprimer les colonnes sans nom
    colonnes_a_supprimer= [colonne for colonne in df.columns if 'Unnamed' in colonne]
    df = df.drop(columns=colonnes_a_supprimer)
    
    # Mettre à jour le DataFrame dans le dictionnaire df_sheets
    df_sheets_2004[feuille]=df

#Verification des modifications
for nom_feuille, df in df_sheets_2004.items():
    print(f"Feuille : {nom_feuille}")
    display(df.columns)

Feuille : PALMARES DIESEL

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2'],
      dtype='object')

Feuille : PALMARES ESSENCE

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2'],
      dtype='object')

Feuille : MODELES GNV

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2'],
      dtype='object')

Feuille : MODELE GPL

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2'],
      dtype='object')

Feuille : fic_etiq_edition_03

Index(['Marques', 'Modèles, Versions', 'CNIT', 'CARBURANT',
       'Puiss Administrative', 'Puissance max', 'BV', 'Conso urb',
       'Conso ex-urb', 'Conso mixte', 'CO2'],
      dtype='object')

In [28]:
# A ce niveau toutes les feuilles du fichier ETIQ2004 ont exactement les mêmes variables
# on peut donc concatener en un nouveau DataFrame df_ETIQ_2004
df_ETIQ_2004 = pd.concat(df_sheets_2004.values(), ignore_index=True)

display(df_ETIQ_2004.head())
df_ETIQ_2004.shape

,Marques,"Modèles, Versions",CNIT,CARBURANT,Puiss Administrative,Puissance max,BV,Conso urb,Conso ex-urb,Conso mixte,CO2
0,VOLKSWAGEN,LUPO 3L TDI (61ch) TIPTRONIC,MVW70K1RU464,GO,3,45.0,A 5,3.6,2.7,3.0,81
1,VOLKSWAGEN,LUPO 3L TDI (61ch) TIPTRONIC,MVW70K1RX467,GO,3,45.0,A 5,4.2,2.8,3.3,88
2,SMART,SMART CDI,MST5001A5074,GO,3,30.0,M 6,3.9,3.1,3.4,90
3,SMART,SMART CDI CABRIOLET,MST5005AL082,GO,3,30.0,M 6,3.9,3.1,3.4,90
4,SMART,SMART CDI,MST5001A6075,GO,3,30.0,M 6,4.0,3.3,3.6,95

(4305, 11)

In [71]:
# Enregistrement du df_ETIQ_2004 en fichier csv 
ETIQ_2004_Complet= df_ETIQ_2004.to_csv(path+'\\ETIQ2004'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression des fichier excels sources
if os.path.exists(path+'\\ETIQ2004'+'.xlsm'):
    os.remove(os.path.join(path+'\\ETIQ2004'+'.xlsm'))

In [32]:
# Exploration des données dans les 6 feuilles du fichier ETIQ2005
df_sheets_2005= pd.read_excel(path +'\\ETIQ2005.xls', sheet_name=None)
for nom_feuille, df in df_sheets_2005.items():
    print(f"Feuille : {nom_feuille}")
    display(df.head(2))
    print(df.shape)
    display(df.columns)

Feuille : CAR LAB 2004 SS GPL NI GNV

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,NaN,nan.1,nan.2
0,ALFA-ROMEO,147 3P 1.6 TS (105ch),MAL1301JY594,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALFA-ROMEO,147 3P 1.6 TS (120ch),MAL1401JA596,8,88.0,M 5,11.2,6.4,8.2,194,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(3865, 18)

Index([           'MARQUE',    'MODELE VERSION',              'CNIT',
       'puissance fiscale',  'puissance reelle',                'bv',
                     'urb',            'ex-urb',             'mixte',
                     'CO2',           'ENERGIE',       'Unnamed: 11',
             'Unnamed: 12',       'Unnamed: 13',       'Unnamed: 14',
                       nan,             'nan.1',             'nan.2'],
      dtype='object')

Feuille : VEHICULES GPL

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,puissance fiscale.1,puissance reelle.1,bv.1
0,CITROEN,BERLINGO 1.4i GPL,MCT9103CL773,5,53.0,M 5,13.2,8.4,10.2,164,GP/ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CITROEN,BERLINGO 1.4i GPL,MCT9103CN836,5,54.0,M 5,13.2,8.4,10.2,164,GP/ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(58, 18)

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : VEHICULES GNV

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,puissance fiscale.1,puissance reelle.1,bv.1
0,CITROEN,BERLINGO 1.4i GNV,MCT9003CC774,5,48.0,M 5,11.3,6.7,8.4,146,GN/ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CITROEN,BERLINGO 1.4i GNV,MCT9003CE837,5,50.0,M 5,11.3,6.7,8.4,146,GN/ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(30, 18)

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : palmares diesel

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,puissance fiscale.1,puissance reelle.1,bv.1
0,SMART,SMART FORTWO CABRIOLET CDI (30kW),MST7005DY183,3,30.0,A 6,3.9,3.1,3.4,90,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SMART,SMART FORTWO COUPE CDI (30kW) SOFTOUCH,MST7001DP181,3,30.0,A 6,3.9,3.1,3.4,90,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(34, 18)

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : palmares essence

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,bv.1
0,TOYOTA,PRIUS 75 VVT-i,MJT9152TB050,4,57.0,V 0,5.0,4.2,4.3,104,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DAIHATSU,CUORE 3P,MJD1001JY129,4,43.0,M 5,5.8,3.9,4.6,109,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(35, 18)

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'bv.1'],
      dtype='object')

Feuille : fic_etiq_edition_04 COMPLET

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,NaN,nan.1,nan.2
0,ALFA-ROMEO,147 3P 1.6 TS (105ch),MAL1301JY594,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALFA-ROMEO,147 3P 1.6 TS (120ch),MAL1401JA596,8,88.0,M 5,11.2,6.4,8.2,194,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(3953, 18)

Index([           'MARQUE',    'MODELE VERSION',              'CNIT',
       'puissance fiscale',  'puissance reelle',                'bv',
                     'urb',            'ex-urb',             'mixte',
                     'CO2',           'ENERGIE',       'Unnamed: 11',
             'Unnamed: 12',       'Unnamed: 13',       'Unnamed: 14',
                       nan,             'nan.1',             'nan.2'],
      dtype='object')

In [33]:
#supression de toutes les colonnes Unnamed et nan des df relatiess aux feuilles du fichier ETIQ2005
#Il s'agit de colonnes vides ou avec des formules de calcul 

for feuille, df in df_sheets_2005.items():
    colonnes_a_supprimer = [colonne for colonne in df.columns if 'Unnamed:' in str(colonne) or 'nan' in str(colonne)]   
    df = df.drop(columns=colonnes_a_supprimer)
    
    # Mise à jour du DataFrame dans le dictionnaire df_sheets
    df_sheets_2005[feuille]=df
    
#Verification des modifications
for nom_feuille, df in df_sheets_2005.items():
    print(f"Feuille : {nom_feuille}")
    display(df.columns)

Feuille : CAR LAB 2004 SS GPL NI GNV

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE'],
      dtype='object')

Feuille : VEHICULES GPL

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : VEHICULES GNV

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : palmares diesel

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'puissance fiscale.1', 'puissance reelle.1', 'bv.1'],
      dtype='object')

Feuille : palmares essence

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE',
       'bv.1'],
      dtype='object')

Feuille : fic_etiq_edition_04 COMPLET

Index(['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE'],
      dtype='object')

In [73]:
# les feuilles du fichier ETIQ2005 n'ont exactement les mêmes variables
# on va quand meme les concatener en un nouveau DataFrame df_ETIQ_2005 qui contiendra bcp de nan surtout au niveau des 
# variables 'puissance fiscale.1', 'puissance reelle.1', 'bv.1'
df_ETIQ_2005 = pd.concat(df_sheets_2005.values(), ignore_index=True)

display(df_ETIQ_2005.head())
df_ETIQ_2005.shape

# Enregistrement du df_ETIQ_2005 en fichier csv 
ETIQ_2005_Complet= df_ETIQ_2005.to_csv(path+'\\ETIQ2005'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2005'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2005'+'.xls'))

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,puissance fiscale.1,puissance reelle.1,bv.1
0,ALFA-ROMEO,147 3P 1.6 TS (105ch),MAL1301JY594,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN
1,ALFA-ROMEO,147 3P 1.6 TS (120ch),MAL1401JA596,8,88.0,M 5,11.2,6.4,8.2,194,ES,NaN,NaN,NaN
2,ALFA-ROMEO,147 3P 2.0 TS,MAL1601JY600,10,110.0,M 5,12.1,7.0,8.9,211,ES,NaN,NaN,NaN
3,ALFA-ROMEO,147 3P 2.0L SELESPEED,MAL1601JW598,10,110.0,M 5,12.1,7.0,8.9,211,ES,NaN,NaN,NaN
4,ALFA-ROMEO,147 5P 1.6 TS (105ch),MAL1302JC606,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN

In [38]:
# Lecture du fichier ETIQ2002
df_ETIQ_2002= pd.read_excel(path +'\\ETIQ2002.xls')
display(df_ETIQ_2002.head(2))
display(df_ETIQ_2002.info())

,GROUPE,MARQUE,MODELE VERSION,CNIT,Unnamed: 4,Unnamed: 5,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
dtypes: float64(8), int64(1), object(8)
memory usage: 688.5+ KB

None

In [39]:
df_ETIQ_2002.columns

Index(['GROUPE', 'MARQUE', 'MODELE VERSION', 'CNIT', 'Unnamed: 4',
       'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale',
       'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT',
       'SEGMENT'],
      dtype='object')

In [40]:
#les colonnes 'GROUPE', 'IMMAT' et 'SEGMENT' sont vides (0 non-null) on peut donc les supprimer
df_ETIQ_2002.dropna(axis=1, how='all')
df_ETIQ_2002.head()

,GROUPE,MARQUE,MODELE VERSION,CNIT,Unnamed: 4,Unnamed: 5,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN
2,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JY276,1302JY276,1302J276,937BXA1A05,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN
3,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JU333,1302JU333,1302J333,937BXA1A05B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN
4,NaN,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,1401JW266,1401J266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,NaN,NaN

In [74]:
# Enregistrement du df en fichier csv 
ETIQ_2002_Complet= df_ETIQ_2002.to_csv(path+'\\ETIQ2002'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression des fichier excels sources
if os.path.exists(path+'\\ETIQ2002'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2002'+'.xls'))

In [50]:
# Lecture du fichier ETIQ2003
df_ETIQ_2003= pd.read_excel(path +'\\ETIQ2003.xls')
display(df_ETIQ_2003.head(2))
display(df_ETIQ_2003.info())

,MARQUE,MODELE VERSION,CNIT,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT
0,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,2003-03-01
1,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JE355,937AXA1A00C,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,2003-03-01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5398 entries, 0 to 5397
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             5398 non-null   object
 1   MODELE VERSION     5398 non-null   object
 2   CNIT               5398 non-null   object
 3   MINE               5398 non-null   object
 4   ENERGIE            5398 non-null   object
 5   puissance fiscale  5398 non-null   int64
 6   puissance reelle   5398 non-null   float64
 7   bv                 5398 non-null   object
 8   urb                5386 non-null   float64
 9   ex-urb             5386 non-null   float64
 10  mixte              5386 non-null   float64
 11  CO2                5386 non-null   float64
 12  IMMAT              5390 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(6)
memory usage: 548.4+ KB

None

In [65]:
# Enregistrement du df en fichier csv 
ETIQ_2003_Complet= df_ETIQ_2003.to_csv(path+'\\ETIQ2003'+'.csv', index=False)

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2003'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2003'+'.xls'))

In [70]:
# Lecture du fichier ETIQ2006
df_ETIQ_2006= pd.read_excel(path +'\\ETIQ2006.xls')
display(df_ETIQ_2006.head(2))
display(df_ETIQ_2006.info())

# Enregistrement du df en fichier csv 
ETIQ_2006_Complet= df_ETIQ_2006.to_csv(path+'\\ETIQ2006'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig') #en mode FR avec ; et float , pas . et encoding UTF-8)

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2006'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2006'+'.xls'))

,ALFA-ROMEO,147 3P 1.6L TS (105ch),MAL1301JZ595,937AXA1A00H,ES,7,77.0,M 5,11.3,6.4,8.2,196,Janvier 2006
0,ALFA-ROMEO,147 3P 1.6L TS (120ch),MAL1401JB597,937AXB1A01H,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,Janvier 2006
1,ALFA-ROMEO,147 3P 2.0L SELESPEED,MAL1601JX599,937AXC1102H,ES,10,110.0,M 5,12.1,7.0,8.9,211.0,Janvier 2006

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8258 entries, 0 to 8257
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ALFA-ROMEO              8258 non-null   object
 1   147 3P 1.6L TS (105ch)  8258 non-null   object
 2   MAL1301JZ595            8258 non-null   object
 3   937AXA1A00H             8258 non-null   object
 4   ES                      8258 non-null   object
 5   7                       8258 non-null   int64
 6   77.0                    8258 non-null   float64
 7   M 5                     8258 non-null   object
 8   11.3                    8250 non-null   float64
 9   6.4                     8250 non-null   float64
 10  8.2                     8250 non-null   float64
 11  196                     8250 non-null   float64
 12  Janvier 2006            8252 non-null   object
dtypes: float64(5), int64(1), object(7)
memory usage: 838.8+ KB

None

In [76]:
# Lecture du fichier ETIQ2007
df_ETIQ_2007= pd.read_excel(path +'\\ETIQ2007.xls')
display(df_ETIQ_2007.head(2))
display(df_ETIQ_2007.info())

# Enregistrement du df en fichier csv 
ETIQ_2007_Complet= df_ETIQ_2007.to_csv(path+'\\ETIQ2007'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2007'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2007'+'.xls'))

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE
0,ALFA-ROMEO,147 3P 1.6L TS (105ch),MAL1301JZ595,7,77.0,M 5,11.3,6.4,8.2,196,ES,E
1,ALFA-ROMEO,147 3P 1.6L TS (120ch),MAL1401JB597,8,88.0,M 5,11.2,6.4,8.2,194,ES,E

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15114 entries, 0 to 15113
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             15114 non-null  object
 1   MODELE VERSION     15114 non-null  object
 2   CNIT               15102 non-null  object
 3   puissance fiscale  15114 non-null  int64
 4   puissance reelle   15114 non-null  float64
 5   bv                 15114 non-null  object
 6   urb                15114 non-null  float64
 7   ex-urb             15114 non-null  float64
 8   mixte              15114 non-null  float64
 9   CO2                15114 non-null  int64
 10  carburant          15114 non-null  object
 11  ETIQUETTE ENERGIE  15114 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.4+ MB

None

In [77]:
# Lecture du fichier ETIQ2008
df_ETIQ_2008= pd.read_excel(path +'\\ETIQ2008.xls')
display(df_ETIQ_2008.head(2))
display(df_ETIQ_2008.info())

# Enregistrement du df en fichier csv 
ETIQ_2008_Complet= df_ETIQ_2008.to_csv(path+'\\ETIQ2008'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2008'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2008'+'.xls'))

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE,BONUS(-)/MALUS( ),TYPE 2
0,DAIHATSU,CUORE II BVM5,MJD1102JU185,4.0,51.0,M 5,5.5,3.8,4.4,104.0,ES,B,-700,MJD1102J
1,TOYOTA,PRIUS (75ch) VVT-i,MJT9162TM872,4.0,57.0,V 0,5.0,4.2,4.3,104.0,ES,B,-2000,MJT9162T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15375 entries, 0 to 15374
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             15375 non-null  object
 1   MODELE VERSION     15375 non-null  object
 2   CNIT               15375 non-null  object
 3   puissance fiscale  15373 non-null  float64
 4   puissance reelle   15349 non-null  float64
 5   bv                 15375 non-null  object
 6   urb                15368 non-null  float64
 7   ex-urb             15368 non-null  float64
 8   mixte              15368 non-null  float64
 9   CO2                15368 non-null  float64
 10  carburant          15375 non-null  object
 11  ETIQUETTE ENERGIE  15375 non-null  object
 12  BONUS(-)/MALUS( )  15375 non-null  object
 13  TYPE 2             15375 non-null  object
dtypes: float64(6), object(8)
memory usage: 1.6+ MB

None

In [115]:
# Lecture du fichier ETIQ2009
df_ETIQ_2009= pd.read_excel(path +'\ETIQ2009.xls')
display(df_ETIQ_2009.head(2))
display(df_ETIQ_2009.info())

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
D:\Users\P-DUMANOIR\AppData\Local\Temp\ipykernel_6180\4126436704.py:2: SyntaxWarning: invalid escape sequence '\E'
  df_ETIQ_2009= pd.read_excel(path +'\ETIQ2009.xls')

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE,BONUS(-)/MALUS(+),Unnamed: 13,Unnamed: 14
0,ALFA-ROMEO,MiTo 1.4 MPI (78ch),MAL1101P0804,5,58.0,M 6,7.7,4.8,5.9,138,ES,C,-,NaN,NaN
1,ALFA-ROMEO,MiTo 1.4 MPI (78ch),MAL1101PZ803,5,58.0,M 6,7.7,4.8,5.9,138,ES,C,-,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19477 entries, 0 to 19476
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             19477 non-null  object
 1   MODELE VERSION     19477 non-null  object
 2   CNIT               19477 non-null  object
 3   puissance fiscale  19477 non-null  int64
 4   puissance reelle   19451 non-null  float64
 5   bv                 19477 non-null  object
 6   urb                19477 non-null  float64
 7   ex-urb             19477 non-null  float64
 8   mixte              19477 non-null  float64
 9   CO2                19477 non-null  int64
 10  carburant          19477 non-null  object
 11  ETIQUETTE ENERGIE  19477 non-null  object
 12  BONUS(-)/MALUS(+)  19477 non-null  object
 13  Unnamed: 13        62 non-null     float64
 14  Unnamed: 14        62 non-null     object
dtypes: float64(5), int64(2), object(8)
memory usage: 2.2+ MB

None

In [116]:
# les colonnes Unnamed:13 et 14 n'ont pas de références et ne contiennent que 62 entrées sur 19477, on peut donc les supprimer
colonnes_a_supprimer= [colonne for colonne in df_ETIQ_2009.columns if 'Unnamed' in colonne]
df_ETIQ_2009 = df_ETIQ_2009.drop(columns=colonnes_a_supprimer)
display(df_ETIQ_2009.head(2))
display(df_ETIQ_2009.info())

# Enregistrement du df en fichier csv 
ETIQ_2009_Complet= df_ETIQ_2009.to_csv(path+'\\ETIQ2009'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2009'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2009'+'.xls'))

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE,BONUS(-)/MALUS(+)
0,ALFA-ROMEO,MiTo 1.4 MPI (78ch),MAL1101P0804,5,58.0,M 6,7.7,4.8,5.9,138,ES,C,-
1,ALFA-ROMEO,MiTo 1.4 MPI (78ch),MAL1101PZ803,5,58.0,M 6,7.7,4.8,5.9,138,ES,C,-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19477 entries, 0 to 19476
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             19477 non-null  object
 1   MODELE VERSION     19477 non-null  object
 2   CNIT               19477 non-null  object
 3   puissance fiscale  19477 non-null  int64
 4   puissance reelle   19451 non-null  float64
 5   bv                 19477 non-null  object
 6   urb                19477 non-null  float64
 7   ex-urb             19477 non-null  float64
 8   mixte              19477 non-null  float64
 9   CO2                19477 non-null  int64
 10  carburant          19477 non-null  object
 11  ETIQUETTE ENERGIE  19477 non-null  object
 12  BONUS(-)/MALUS(+)  19477 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.9+ MB

None

In [118]:
# Lecture du fichier ETIQ2010
df_ETIQ_2010= pd.read_excel(path +'\ETIQ2010.xls')
display(df_ETIQ_2010.head(2))
display(df_ETIQ_2010.info())

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
D:\Users\P-DUMANOIR\AppData\Local\Temp\ipykernel_6180\2170632636.py:2: SyntaxWarning: invalid escape sequence '\E'
  df_ETIQ_2010= pd.read_excel(path +'\ETIQ2010.xls')

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE,BONUS(-)/MALUS(+),Unnamed: 13,Unnamed: 14
0,SMART,SMART FORTWO COUPE ELECTRIC,M10SMTVP000E039,5,NaN,M 1,NaN,NaN,NaN,NaN,EL,A,-5000,NaN,NaN
1,SMART,SMART FORTWO Cabrio ELECTRIC,M10SMTVP000F040,5,NaN,M 1,NaN,NaN,NaN,NaN,EL,A,-5000,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25319 entries, 0 to 25318
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             25319 non-null  object
 1   MODELE VERSION     25319 non-null  object
 2   CNIT               25319 non-null  object
 3   puissance fiscale  25319 non-null  int64
 4   puissance reelle   25317 non-null  float64
 5   bv                 25319 non-null  object
 6   urb                25317 non-null  float64
 7   ex-urb             25317 non-null  float64
 8   mixte              25317 non-null  float64
 9   CO2                25317 non-null  float64
 10  carburant          25319 non-null  object
 11  ETIQUETTE ENERGIE  25319 non-null  object
 12  BONUS(-)/MALUS(+)  25319 non-null  object
 13  Unnamed: 13        62 non-null     float64
 14  Unnamed: 14        62 non-null     object
dtypes: float64(6), int64(1), object(8)
memory usage: 2.9+ MB

None

In [121]:
# Même constat pour ETIQ2010, il y a deux colonnes Unnamed:13 et 14 qui n'ont pas de références et ne contiennent que 62 entrées sur 25319,
# on peut donc les supprimer
colonnes_a_supprimer= [colonne for colonne in df_ETIQ_2010.columns if 'Unnamed' in colonne]
df_ETIQ_2010 = df_ETIQ_2010.drop(columns=colonnes_a_supprimer)
display(df_ETIQ_2010.head(2))
display(df_ETIQ_2010.info())

# Enregistrement du df en fichier csv 
ETIQ_2010_Complet= df_ETIQ_2010.to_csv(path+'\\ETIQ2010'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2010'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2010'+'.xls'))

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,carburant,ETIQUETTE ENERGIE,BONUS(-)/MALUS(+)
0,SMART,SMART FORTWO COUPE ELECTRIC,M10SMTVP000E039,5,NaN,M 1,NaN,NaN,NaN,NaN,EL,A,-5000
1,SMART,SMART FORTWO Cabrio ELECTRIC,M10SMTVP000F040,5,NaN,M 1,NaN,NaN,NaN,NaN,EL,A,-5000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25319 entries, 0 to 25318
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             25319 non-null  object
 1   MODELE VERSION     25319 non-null  object
 2   CNIT               25319 non-null  object
 3   puissance fiscale  25319 non-null  int64
 4   puissance reelle   25317 non-null  float64
 5   bv                 25319 non-null  object
 6   urb                25317 non-null  float64
 7   ex-urb             25317 non-null  float64
 8   mixte              25317 non-null  float64
 9   CO2                25317 non-null  float64
 10  carburant          25319 non-null  object
 11  ETIQUETTE ENERGIE  25319 non-null  object
 12  BONUS(-)/MALUS(+)  25319 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 2.5+ MB

None

In [122]:
# Lecture du fichier ETIQ2011
df_ETIQ_2011= pd.read_excel(path +'\\ETIQ2011.xls')
display(df_ETIQ_2011.head(2))
display(df_ETIQ_2011.info())

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Users\\P-DUMANOIR\\OneDrive - MSF\\0. PERSO\\CO2 Emission\\Sources\\ETIC\\ETIQ2011.xls'

In [95]:
# Enregistrement du df en fichier csv 
ETIQ_2011_Complet= df_ETIQ_2011.to_csv(path+'\\ETIQ2011'+'.csv', index=False, sep=';', decimal=',', encoding='utf-8-sig')

# Suppression du fichier excel source
if os.path.exists(path+'\\ETIQ2011'+'.xls'):
    os.remove(os.path.join(path+'\\ETIQ2011'+'.xls'))

In [91]:
# VARIANTE SABRINE
#les fichiers ETIQ2012-2013-2014-2015 sont de type .csv 
# Création d'une boucle pour les lire, afficher les premières lignes, voire les infos

#For fichier in

SyntaxError: invalid syntax (3612463855.py, line 4)

In [ ]:
# VARIANTE SABRINE 

# Application d'une boucle pour parcourir chaque fichier csv dans le dossier Donnees
# Création d'une liste ne contenant que les fichiers Excel dans le dossiers contenant les données qui est le path
fichiers_csv = [fichier for fichier in os.listdir(path) if fichier.endswith('.csv')]

print(fichiers_csv)

for fichier_csv in fichiers_csv:
    chemin_fichier = os.path.join(path, fichier_csv)
    fichier = pd.read_csv(path)
    # Chargement du fichier csv
    df_ETIQ = pd.read_csv(filepath_or_buffer='chemin_fichier', sep=',')

In [107]:
# VARIANTE PAULINE pour ne lire que 2012 à 2016 et pas tous les .csv

# les fichiers ETIQ2012-2013-2014-2015 sont de type .csv nativement
annees = range(2012, 2016)
fichiers_csv = [f"ETIQ{annee}.csv" for annee in annees]
print("Liste des fichiers.csv natifs avec la meme structure",fichiers_csv)

Liste des fichiers.csv natifs avec la meme structure ['ETIQ2012.csv', 'ETIQ2013.csv', 'ETIQ2014.csv', 'ETIQ2015.csv']

In [106]:
#UnicodeDecodeError: 'utf-8' codec can't decode byte 0x82 in position 26204: invalid start byte
#celà signifie qu'il y a un problème d'encodage pour la lecture de nos fichiers csv
# Utilisation de chardet (avec chardet.detect()) qui est un des outils de détection automatique pour déterminer l'encodage en analysant son contenu.

# Création d'une boucle pour les lire, afficher les premières lignes, voire les infos

import chardet
dfs_ETIQ = {}

# Chargement des fichiers CSV
for fichier_csv in fichiers_csv:
    chemin_fichier = os.path.join(path, fichier_csv)
    
    # Utilisation de chardet à l'intérieur de la boucle pour détecter l'encodage du chaque fichier
    with open(chemin_fichier, 'rb') as f:
        result = chardet.detect(f.read())
    
    # Application de l'encodage détecté
    df_ETIQ = pd.read_table(chemin_fichier, sep=None, engine='python', encoding=result['encoding'])

    dfs_ETIQ[fichier_csv] = df_ETIQ

# Affichage des df_ETIQ crées
for nom_fichier, df in dfs_ETIQ.items():
    print("Nom du fichier:", nom_fichier)
    display(df_ETIQ.head(2))

Nom du fichier: ETIQ2012.csv

,lib_mrq_doss,lib_mod_doss,mrq_utac,mod_utac,dscom,cnit,tvv,energ,hybride,puiss_admin,...,co2_mixte,co_typ_1,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj
0,ALFA ROMEO,159,ALFA ROMEO,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,...,182.0,0.647,0.052,0.032,NaN,0.002,1505,1505,715/2007*692/2008EURO5,juin-14
1,ALFA ROMEO,159,ALFA ROMEO,159,159 2.0 JTDm (170ch) ECO,M10ALFVP000U221,939AXP1B54C,GO,non,9,...,136.0,0.192,NaN,0.169,0.19,0.003,1565,1565,715/2007*692/2008EURO5,juin-14

Nom du fichier: ETIQ2013.csv

,lib_mrq_doss,lib_mod_doss,mrq_utac,mod_utac,dscom,cnit,tvv,energ,hybride,puiss_admin,...,co2_mixte,co_typ_1,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj
0,ALFA ROMEO,159,ALFA ROMEO,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,...,182.0,0.647,0.052,0.032,NaN,0.002,1505,1505,715/2007*692/2008EURO5,juin-14
1,ALFA ROMEO,159,ALFA ROMEO,159,159 2.0 JTDm (170ch) ECO,M10ALFVP000U221,939AXP1B54C,GO,non,9,...,136.0,0.192,NaN,0.169,0.19,0.003,1565,1565,715/2007*692/2008EURO5,juin-14

Nom du fichier: ETIQ2014.csv

,lib_mrq_doss,lib_mod_doss,mrq_utac,mod_utac,dscom,cnit,tvv,energ,hybride,puiss_admin,...,co2_mixte,co_typ_1,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj
0,ALFA ROMEO,159,ALFA ROMEO,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,...,182.0,0.647,0.052,0.032,NaN,0.002,1505,1505,715/2007*692/2008EURO5,juin-14
1,ALFA ROMEO,159,ALFA ROMEO,159,159 2.0 JTDm (170ch) ECO,M10ALFVP000U221,939AXP1B54C,GO,non,9,...,136.0,0.192,NaN,0.169,0.19,0.003,1565,1565,715/2007*692/2008EURO5,juin-14

Nom du fichier: ETIQ2015.csv

,lib_mrq_doss,lib_mod_doss,mrq_utac,mod_utac,dscom,cnit,tvv,energ,hybride,puiss_admin,...,co2_mixte,co_typ_1,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj
0,ALFA ROMEO,159,ALFA ROMEO,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,...,182.0,0.647,0.052,0.032,NaN,0.002,1505,1505,715/2007*692/2008EURO5,juin-14
1,ALFA ROMEO,159,ALFA ROMEO,159,159 2.0 JTDm (170ch) ECO,M10ALFVP000U221,939AXP1B54C,GO,non,9,...,136.0,0.192,NaN,0.169,0.19,0.003,1565,1565,715/2007*692/2008EURO5,juin-14

In [108]:
#afficher des noms des clefs dans le dictionnaire dfs_ETIQ

for clef in dfs_ETIQ.keys():
    print(clef)

ETIQ2012.csv
ETIQ2013.csv
ETIQ2014.csv
ETIQ2015.csv

In [109]:
#Attribution des noms aux dfs contenus dans les valeurs du dictionnaire dfs_ETIQ
df_ETIQ_2012 = dfs_ETIQ['ETIQ2012.csv']
df_ETIQ_2013 = dfs_ETIQ['ETIQ2013.csv']
df_ETIQ_2014 = dfs_ETIQ['ETIQ2014.csv']
df_ETIQ_2015 = dfs_ETIQ['ETIQ2015.csv']

# Véification
df_ETIQ_2012.head(2)

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,typ_cbr,hybride,puiss_admin_98,puiss_max,...,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj,Carrosserie,gamme
0,ALFA-ROMEO,GIULIETTA,GIULIETTA,GIULIETTA 1.4 T-jet (120ch) S/S,M10ALFVP0000324,940FXF1A05,ES,non,7,85,...,"0,03","0,026",NaN,NaN,1355,1355,715/2007*692/2008EURO5,NaN,BERLINE,MOY-SUPER
1,ALFA-ROMEO,MITO,MITO,MITO 0.9 Twin Air (85ch) S/S,M10ALFVP0000360,955AXW1B17B,ES,non,4,62,...,"0,049","0,037",NaN,NaN,1205,1205,715/2007*692/2008EURO5,NaN,BERLINE,INFERIEURE

In [110]:
liste_dfs=[df_ETIQ_2012, df_ETIQ_2013, df_ETIQ_2014, df_ETIQ_2015]
noms_dfs = ['df_ETIQ_2012', 'df_ETIQ_2013', 'df_ETIQ_2014', 'df_ETIQ_2015']

for nom_df, df in zip(noms_dfs, liste_dfs):
    print(nom_df, '\n')
    print('liste des colonnes:' , df.columns, '\n', df.info(), '\n')

df_ETIQ_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40052 entries, 0 to 40051
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            40052 non-null  object
 1   lib_mod_doss       40052 non-null  object
 2   lib_mod            40052 non-null  object
 3   dscom              40052 non-null  object
 4   cnit               40052 non-null  object
 5   tvv                40052 non-null  object
 6   typ_cbr            40052 non-null  object
 7   hybride            40052 non-null  object
 8   puiss_admin_98     40052 non-null  int64
 9   puiss_max          40052 non-null  int64
 10  typ_boite_nb_rapp  40052 non-null  object
 11  conso_urb          40020 non-null  object
 12  conso_exurb        40020 non-null  object
 13  conso_mixte        40022 non-null  object
 14  co2                40022 non-null  float64
 15  co_typ_1           39905 non-null  object
 16  hc                 8357 non-null   object
 17  nox                39905 non-null  object
 18  hcnox              31606 non-null  object
 19  ptcl               37355 non-null  object
 20  masse_ordma_min    40052 non-null  int64
 21  masse_ordma_max    40052 non-null  int64
 22  champ_v9           39970 non-null  object
 23  date_maj           0 non-null      float64
 24  Carrosserie        40052 non-null  object
 25  gamme              40052 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 7.9+ MB
liste des colonnes: Index(['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr',
       'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp',
       'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc',
       'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max',
       'champ_v9', 'date_maj', 'Carrosserie', 'gamme'],
      dtype='object')
 None

df_ETIQ_2013

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44850 entries, 0 to 44849
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Marque                                44850 non-null  object
 1   Modèle dossier                        44850 non-null  object
 2   Modèle UTAC                           44850 non-null  object
 3   Désignation commerciale               44850 non-null  object
 4   CNIT                                  44850 non-null  object
 5   Type Variante Version (TVV)           44850 non-null  object
 6   Carburant                             44850 non-null  object
 7   Hybride                               44850 non-null  object
 8   Puissance administrative              44850 non-null  int64
 9   Puissance maximale (kW)               44850 non-null  float64
 10  Boîte de vitesse                      44850 non-null  object
 11  Consommation urbaine (l/100km)        44808 non-null  float64
 12  Consommation extra-urbaine (l/100km)  44808 non-null  float64
 13  Consommation mixte (l/100km)          44811 non-null  float64
 14  CO2 (g/km)                            44811 non-null  float64
 15  CO type I (g/km)                      44547 non-null  float64
 16  HC (g/km)                             10403 non-null  float64
 17  NOX (g/km)                            44547 non-null  float64
 18  HC+NOX (g/km)                         34191 non-null  float64
 19  Particules (g/km)                     41708 non-null  float64
 20  masse vide euro min (kg)              44850 non-null  int64
 21  masse vide euro max (kg)              44850 non-null  int64
 22  Champ V9                              44615 non-null  object
 23  Date de mise à jour                   44850 non-null  object
 24  Carrosserie                           44850 non-null  object
 25  gamme                                 44850 non-null  object
dtypes: float64(10), int64(3), object(13)
memory usage: 8.9+ MB
liste des colonnes: Index(['Marque', 'Modèle dossier', 'Modèle UTAC', 'Désignation commerciale',
       'CNIT', 'Type Variante Version (TVV)', 'Carburant', 'Hybride',
       'Puissance administrative', 'Puissance maximale (kW)',
       'Boîte de vitesse', 'Consommation urbaine (l/100km)',
       'Consommation extra-urbaine (l/100km)', 'Consommation mixte (l/100km)',
       'CO2 (g/km)', 'CO type I (g/km)', 'HC (g/km)', 'NOX (g/km)',
       'HC+NOX (g/km)', 'Particules (g/km)', 'masse vide euro min (kg)',
       'masse vide euro max (kg)', 'Champ V9', 'Date de mise à jour',
       'Carrosserie', 'gamme'],
      dtype='object')
 None

df_ETIQ_2014

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55044 entries, 0 to 55043
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            55044 non-null  object
 1   lib_mod_doss       55044 non-null  object
 2   lib_mod            55044 non-null  object
 3   dscom              55044 non-null  object
 4   cnit               55044 non-null  object
 5   tvv                55044 non-null  object
 6   cod_cbr            55044 non-null  object
 7   hybride            55044 non-null  object
 8   puiss_admin_98     55044 non-null  int64
 9   puiss_max          55044 non-null  object
 10  typ_boite_nb_rapp  55044 non-null  object
 11  conso_urb          55001 non-null  object
 12  conso_exurb        55001 non-null  object
 13  conso_mixte        55010 non-null  object
 14  co2                55010 non-null  float64
 15  co_typ_1           54886 non-null  object
 16  hc                 9773 non-null   object
 17  nox                54886 non-null  object
 18  hcnox              45156 non-null  object
 19  ptcl               52366 non-null  object
 20  masse_ordma_min    55044 non-null  int64
 21  masse_ordma_max    55044 non-null  int64
 22  champ_v9           54983 non-null  object
 23  date_maj           3247 non-null   object
 24  Carrosserie        55044 non-null  object
 25  gamme              55044 non-null  object
 26  Unnamed: 26        0 non-null      float64
 27  Unnamed: 27        0 non-null      float64
 28  Unnamed: 28        0 non-null      float64
 29  Unnamed: 29        0 non-null      float64
dtypes: float64(5), int64(3), object(22)
memory usage: 12.6+ MB
liste des colonnes: Index(['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'cod_cbr',
       'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp',
       'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc',
       'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max',
       'champ_v9', 'date_maj', 'Carrosserie', 'gamme', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')
 None

df_ETIQ_2015

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20880 entries, 0 to 20879
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq_doss       20880 non-null  object
 1   lib_mod_doss       20880 non-null  object
 2   mrq_utac           20880 non-null  object
 3   mod_utac           20880 non-null  object
 4   dscom              20880 non-null  object
 5   cnit               20880 non-null  object
 6   tvv                20880 non-null  object
 7   energ              20880 non-null  object
 8   hybride            20880 non-null  object
 9   puiss_admin        20880 non-null  int64
 10  puiss_max          20824 non-null  float64
 11  puiss_heure        895 non-null    float64
 12  typ_boite_nb_rapp  20880 non-null  object
 13  conso_urb_93       20759 non-null  float64
 14  conso_exurb        20759 non-null  float64
 15  conso_mixte        20824 non-null  float64
 16  co2_mixte          20824 non-null  float64
 17  co_typ_1           20605 non-null  float64
 18  hc                 8897 non-null   float64
 19  nox                20605 non-null  float64
 20  hcnox              11735 non-null  float64
 21  ptcl               19170 non-null  float64
 22  masse_ordma_min    20880 non-null  int64
 23  masse_ordma_max    20880 non-null  int64
 24  champ_v9           20880 non-null  object
 25  date_maj           20880 non-null  object
dtypes: float64(11), int64(3), object(12)
memory usage: 4.1+ MB
liste des colonnes: Index(['lib_mrq_doss', 'lib_mod_doss', 'mrq_utac', 'mod_utac', 'dscom', 'cnit',
       'tvv', 'energ', 'hybride', 'puiss_admin', 'puiss_max', 'puiss_heure',
       'typ_boite_nb_rapp', 'conso_urb_93', 'conso_exurb', 'conso_mixte',
       'co2_mixte', 'co_typ_1', 'hc', 'nox', 'hcnox', 'ptcl',
       'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'date_maj'],
      dtype='object')
 None

In [127]:
# Affichage des info() de touts les dfs
dfs_ETIQ=[df_ETIQ_2001, df_ETIQ_2002, df_ETIQ_2003, df_ETIQ_2004, df_ETIQ_2005, df_ETIQ_2006, df_ETIQ_2007,
           df_ETIQ_2008, df_ETIQ_2009, df_ETIQ_2010, df_ETIQ_2011,df_ETIQ_2012, df_ETIQ_2013, df_ETIQ_2014, df_ETIQ_2015]
noms=['ETIQ2001', 'ETIQ2002', 'ETIQ2003', 'ETIQ2004', 'ETIQ2005', 'ETIQ2006','ETIQ2007', 'ETIQ2008', 'ETIQ2009','ETIQ2010','ETIQ2011', 'ETIQ2012','ETIQ2013', 'ETIQ2014', 'ETIQ2015']
for nom, df in zip(noms, dfs_ETIQ):
    print(nom, '\n')
    print(df.info())

ETIQ2001

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308 entries, 0 to 6307
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MARQUES     5916 non-null   object
 1   MODELE      5916 non-null   object
 2   TYP. MINES  5916 non-null   object
 3   CNIT        5916 non-null   object
 4   CARB        5916 non-null   object
 5   CV          5916 non-null   object
 6   PUISS.      5916 non-null   float64
 7   BV          5916 non-null   object
 8   Urbain      5916 non-null   float64
 9   Ex.Urb      5916 non-null   float64
 10  Mixte       5916 non-null   float64
 11  CO2         5916 non-null   float64
dtypes: float64(5), object(7)
memory usage: 591.5+ KB
None
ETIQ2002

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
dtypes: float64(8), int64(1), object(8)
memory usage: 688.5+ KB
None
ETIQ2003

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5398 entries, 0 to 5397
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             5398 non-null   object
 1   MODELE VERSION     5398 non-null   object
 2   CNIT               5398 non-null   object
 3   MINE               5398 non-null   object
 4   ENERGIE            5398 non-null   object
 5   puissance fiscale  5398 non-null   int64
 6   puissance reelle   5398 non-null   float64
 7   bv                 5398 non-null   object
 8   urb                5386 non-null   float64
 9   ex-urb             5386 non-null   float64
 10  mixte              5386 non-null   float64
 11  CO2                5386 non-null   float64
 12  IMMAT              5390 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(6)
memory usage: 548.4+ KB
None
ETIQ2004

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marques               4305 non-null   object
 1   Modèles, Versions     4305 non-null   object
 2   CNIT                  4305 non-null   object
 3   CARBURANT             4305 non-null   object
 4   Puiss Administrative  4305 non-null   int64
 5   Puissance max         4305 non-null   float64
 6   BV                    4305 non-null   object
 7   Conso urb             4305 non-null   float64
 8   Conso ex-urb          4305 non-null   float64
 9   Conso mixte           4305 non-null   float64
 10  CO2                   4305 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 370.1+ KB
None
ETIQ2005

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7975 entries, 0 to 7974
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MARQUE               7975 non-null   object
 1   MODELE VERSION       7975 non-null   object
 2   CNIT                 7975 non-null   object
 3   puissance fiscale    7975 non-null   object
 4   puissance reelle     7975 non-null   float64
 5   bv                   7975 non-null   object
 6   urb                  7975 non-null   float64
 7   ex-urb               7975 non-null   float64
 8   mixte                7975 non-null   float64
 9   CO2                  7975 non-null   int64
 10  ENERGIE              7975 non-null   object
 11  puissance fiscale.1  0 non-null      float64
 12  puissance reelle.1   0 non-null      float64
 13  bv.1                 0 non-null      float64
dtypes: float64(7), int64(1), object(6)
memory usage: 872.4+ KB
None
ETIQ2006

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8258 entries, 0 to 8257
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ALFA-ROMEO              8258 non-null   object
 1   147 3P 1.6L TS (105ch)  8258 non-null   object
 2   MAL1301JZ595            8258 non-null   object
 3   937AXA1A00H             8258 non-null   object
 4   ES                      8258 non-null   object
 5   7                       8258 non-null   int64
 6   77.0                    8258 non-null   float64
 7   M 5                     8258 non-null   object
 8   11.3                    8250 non-null   float64
 9   6.4                     8250 non-null   float64
 10  8.2                     8250 non-null   float64
 11  196                     8250 non-null   float64
 12  Janvier 2006            8252 non-null   object
dtypes: float64(5), int64(1), object(7)
memory usage: 838.8+ KB
None
ETIQ2007

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15114 entries, 0 to 15113
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             15114 non-null  object
 1   MODELE VERSION     15114 non-null  object
 2   CNIT               15102 non-null  object
 3   puissance fiscale  15114 non-null  int64
 4   puissance reelle   15114 non-null  float64
 5   bv                 15114 non-null  object
 6   urb                15114 non-null  float64
 7   ex-urb             15114 non-null  float64
 8   mixte              15114 non-null  float64
 9   CO2                15114 non-null  int64
 10  carburant          15114 non-null  object
 11  ETIQUETTE ENERGIE  15114 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.4+ MB
None
ETIQ2008

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15375 entries, 0 to 15374
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             15375 non-null  object
 1   MODELE VERSION     15375 non-null  object
 2   CNIT               15375 non-null  object
 3   puissance fiscale  15373 non-null  float64
 4   puissance reelle   15349 non-null  float64
 5   bv                 15375 non-null  object
 6   urb                15368 non-null  float64
 7   ex-urb             15368 non-null  float64
 8   mixte              15368 non-null  float64
 9   CO2                15368 non-null  float64
 10  carburant          15375 non-null  object
 11  ETIQUETTE ENERGIE  15375 non-null  object
 12  BONUS(-)/MALUS( )  15375 non-null  object
 13  TYPE 2             15375 non-null  object
dtypes: float64(6), object(8)
memory usage: 1.6+ MB
None
ETIQ2009

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19477 entries, 0 to 19476
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             19477 non-null  object
 1   MODELE VERSION     19477 non-null  object
 2   CNIT               19477 non-null  object
 3   puissance fiscale  19477 non-null  int64
 4   puissance reelle   19451 non-null  float64
 5   bv                 19477 non-null  object
 6   urb                19477 non-null  float64
 7   ex-urb             19477 non-null  float64
 8   mixte              19477 non-null  float64
 9   CO2                19477 non-null  int64
 10  carburant          19477 non-null  object
 11  ETIQUETTE ENERGIE  19477 non-null  object
 12  BONUS(-)/MALUS(+)  19477 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.9+ MB
None
ETIQ2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25319 entries, 0 to 25318
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             25319 non-null  object
 1   MODELE VERSION     25319 non-null  object
 2   CNIT               25319 non-null  object
 3   puissance fiscale  25319 non-null  int64
 4   puissance reelle   25317 non-null  float64
 5   bv                 25319 non-null  object
 6   urb                25317 non-null  float64
 7   ex-urb             25317 non-null  float64
 8   mixte              25317 non-null  float64
 9   CO2                25317 non-null  float64
 10  carburant          25319 non-null  object
 11  ETIQUETTE ENERGIE  25319 non-null  object
 12  BONUS(-)/MALUS(+)  25319 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 2.5+ MB
None
ETIQ2011

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37816 entries, 0 to 37815
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            37816 non-null  object
 1   lib_mod_doss       37816 non-null  object
 2   lib_mod            37816 non-null  object
 3   dscom              37816 non-null  object
 4   cnit               37816 non-null  object
 5   tvv                37816 non-null  object
 6   typ_cbr            37816 non-null  object
 7   puiss_admin_98     37816 non-null  int64
 8   puiss_max          37816 non-null  float64
 9   typ_boite_nb_rapp  37816 non-null  object
 10  conso_urb          37774 non-null  float64
 11  conso_exurb        37774 non-null  float64
 12  conso_mixte        37775 non-null  float64
 13  co2                37775 non-null  float64
 14  champ_v9           37794 non-null  object
 15  date_maj           37816 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 4.6+ MB
None
ETIQ2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40052 entries, 0 to 40051
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            40052 non-null  object
 1   lib_mod_doss       40052 non-null  object
 2   lib_mod            40052 non-null  object
 3   dscom              40052 non-null  object
 4   cnit               40052 non-null  object
 5   tvv                40052 non-null  object
 6   typ_cbr            40052 non-null  object
 7   hybride            40052 non-null  object
 8   puiss_admin_98     40052 non-null  int64
 9   puiss_max          40052 non-null  int64
 10  typ_boite_nb_rapp  40052 non-null  object
 11  conso_urb          40020 non-null  object
 12  conso_exurb        40020 non-null  object
 13  conso_mixte        40022 non-null  object
 14  co2                40022 non-null  float64
 15  co_typ_1           39905 non-null  object
 16  hc                 8357 non-null   object
 17  nox                39905 non-null  object
 18  hcnox              31606 non-null  object
 19  ptcl               37355 non-null  object
 20  masse_ordma_min    40052 non-null  int64
 21  masse_ordma_max    40052 non-null  int64
 22  champ_v9           39970 non-null  object
 23  date_maj           0 non-null      float64
 24  Carrosserie        40052 non-null  object
 25  gamme              40052 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 7.9+ MB
None
ETIQ2013

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44850 entries, 0 to 44849
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Marque                                44850 non-null  object
 1   Modèle dossier                        44850 non-null  object
 2   Modèle UTAC                           44850 non-null  object
 3   Désignation commerciale               44850 non-null  object
 4   CNIT                                  44850 non-null  object
 5   Type Variante Version (TVV)           44850 non-null  object
 6   Carburant                             44850 non-null  object
 7   Hybride                               44850 non-null  object
 8   Puissance administrative              44850 non-null  int64
 9   Puissance maximale (kW)               44850 non-null  float64
 10  Boîte de vitesse                      44850 non-null  object
 11  Consommation urbaine (l/100km)        44808 non-null  float64
 12  Consommation extra-urbaine (l/100km)  44808 non-null  float64
 13  Consommation mixte (l/100km)          44811 non-null  float64
 14  CO2 (g/km)                            44811 non-null  float64
 15  CO type I (g/km)                      44547 non-null  float64
 16  HC (g/km)                             10403 non-null  float64
 17  NOX (g/km)                            44547 non-null  float64
 18  HC+NOX (g/km)                         34191 non-null  float64
 19  Particules (g/km)                     41708 non-null  float64
 20  masse vide euro min (kg)              44850 non-null  int64
 21  masse vide euro max (kg)              44850 non-null  int64
 22  Champ V9                              44615 non-null  object
 23  Date de mise à jour                   44850 non-null  object
 24  Carrosserie                           44850 non-null  object
 25  gamme                                 44850 non-null  object
dtypes: float64(10), int64(3), object(13)
memory usage: 8.9+ MB
None
ETIQ2014

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55044 entries, 0 to 55043
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            55044 non-null  object
 1   lib_mod_doss       55044 non-null  object
 2   lib_mod            55044 non-null  object
 3   dscom              55044 non-null  object
 4   cnit               55044 non-null  object
 5   tvv                55044 non-null  object
 6   cod_cbr            55044 non-null  object
 7   hybride            55044 non-null  object
 8   puiss_admin_98     55044 non-null  int64
 9   puiss_max          55044 non-null  object
 10  typ_boite_nb_rapp  55044 non-null  object
 11  conso_urb          55001 non-null  object
 12  conso_exurb        55001 non-null  object
 13  conso_mixte        55010 non-null  object
 14  co2                55010 non-null  float64
 15  co_typ_1           54886 non-null  object
 16  hc                 9773 non-null   object
 17  nox                54886 non-null  object
 18  hcnox              45156 non-null  object
 19  ptcl               52366 non-null  object
 20  masse_ordma_min    55044 non-null  int64
 21  masse_ordma_max    55044 non-null  int64
 22  champ_v9           54983 non-null  object
 23  date_maj           3247 non-null   object
 24  Carrosserie        55044 non-null  object
 25  gamme              55044 non-null  object
 26  Unnamed: 26        0 non-null      float64
 27  Unnamed: 27        0 non-null      float64
 28  Unnamed: 28        0 non-null      float64
 29  Unnamed: 29        0 non-null      float64
dtypes: float64(5), int64(3), object(22)
memory usage: 12.6+ MB
None
ETIQ2015

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20880 entries, 0 to 20879
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq_doss       20880 non-null  object
 1   lib_mod_doss       20880 non-null  object
 2   mrq_utac           20880 non-null  object
 3   mod_utac           20880 non-null  object
 4   dscom              20880 non-null  object
 5   cnit               20880 non-null  object
 6   tvv                20880 non-null  object
 7   energ              20880 non-null  object
 8   hybride            20880 non-null  object
 9   puiss_admin        20880 non-null  int64
 10  puiss_max          20824 non-null  float64
 11  puiss_heure        895 non-null    float64
 12  typ_boite_nb_rapp  20880 non-null  object
 13  conso_urb_93       20759 non-null  float64
 14  conso_exurb        20759 non-null  float64
 15  conso_mixte        20824 non-null  float64
 16  co2_mixte          20824 non-null  float64
 17  co_typ_1           20605 non-null  float64
 18  hc                 8897 non-null   float64
 19  nox                20605 non-null  float64
 20  hcnox              11735 non-null  float64
 21  ptcl               19170 non-null  float64
 22  masse_ordma_min    20880 non-null  int64
 23  masse_ordma_max    20880 non-null  int64
 24  champ_v9           20880 non-null  object
 25  date_maj           20880 non-null  object
dtypes: float64(11), int64(3), object(12)
memory usage: 4.1+ MB
None